.player-board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.battleships ul {
  list-style: none;
  margin: 10px 0;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.player-waters {
  display: grid;
  grid-template: repeat(10, 35px) / repeat(10, 35px);
}
