body {
  margin: 0;
  padding: 0;
  background-color: #00325e;
  color: #fde5e4;
}

button,
label,
input,
h1,
p,
li,
a {
  font-family: "Reddit Mono";

  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}
